<div ui-content-for="title">
  <span>Forgot Password</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <form role="form" ng-submit='forgotpassword()'>
    <fieldset>
      <legend>Forgot Password</legend>
        <div class="form-group has-success has-feedback">
          <label>Email</label>
          <input type="email"
                 ng-model="email"
                 class="form-control"
                 placeholder="Enter User email"
                 required>
        </div>

    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
      Send me reset email
    </button>

    <div ui-content-for="navbarAction">
      <a class='btn' ng-click='forgotpassword()'>Send me reset email</a>
    </div>

  </form>
 </div>
</div>
